.jumbotron {
  background-color: #ebf3fe;
}
.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid black; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  animation: typing 2.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(240, 101, 9);
  }
}
.welcome {
  font-size: 3.5em;

  text-align: center;
}
.wtext {
  font-size: 2.5em;
}

.home-border {
  border: solid 10px black;
}

@media screen and (max-width: 450px) {
  .welcome {
    font-size: 1em;
  }

  .home-border {
    border: solid 5px black;
  }
}
